*{
    margin: 0;
    padding: 0;
}

body {

width: 100%;
background-color: black;
}

header {

    background-color: rgb(33, 33, 34);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgb(145, 143, 141);
}

header div {

    background-color: black;
    padding: 0.6rem;
    width: 12rem;
    justify-content: space-evenly;
    display: flex;
    color: aliceblue;
    font-weight: 900;
    box-shadow:gainsboro 0px 0px 5px 0px;
    border-radius: 5rem;

}

 .hamBurger {

    width: 1rem;
    display: none;
}

.container {

    border: 1px solid;
    margin: 2px;
    display: flex;
}

.menu {

    border:none;
    border-radius: 1rem;
    background-color: rgb(34, 29, 29);
    height: 28.8rem;
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position:fixed;
    margin-top: 0.5rem;
    
}

.menu div {
    width: 10rem;
    display: flex;
    padding: 0.5rem;
    color: bisque;
   
    
}

.profile {

    width: 20rem;
    margin-left: 40rem;
    display: flex;
    cursor: pointer;
    border-radius: 5rem;
    background-color: black;
    box-shadow:gainsboro 0px 0px 5px 0px;
}

.menu p {

    margin-left: 20px;
}

.bar {

    border: 1px solid;
    width: 100%;
    margin-left:15.3rem;
}
 #navBtn { 

    display: flex;
    justify-content: space-around;
    height: 15rem;
    align-items: center;
    background-image: url(./avatars-E2iGulpnZ6nw0qO3-b1a1Iw-t500x500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.musicGenre {

    border-top:none;
    background-color:black;
}

.musicGenre h3 {

    text-align:start;
    color:white;
    margin-left: 40px;
}

#musicGenre  {

display: flex;
height: 15rem;
justify-content: space-evenly;
background-color:black;
padding: 10px;
margin: 2px;
font-weight:bold;
 
}

#musicGenre  div {
    background-color:rgb(26, 25, 24);
    border:none;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    font-weight:700;
    border-radius: 2rem;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}


#hipco {

    background-repeat: no-repeat;
    background-size: cover;
}

#musicGenre div div {

   width: 12rem;
   height: 7.3rem;
   border-radius:0rem;
   text-align: center;   

   
}


#musicGenre div img{

    width: 12rem;
}

#musicGenre div h4 {

    margin-top: 5rem;
}

.musicList {

    /* background-color: gray; */
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-top:1rem;
    height:35rem;
    color: white;
}

.artistList {

    /* background-color: aquamarine; */
    display: flex;
    padding: 1rem;
    justify-content: space-between;

}
 
.artistList div {

    /* background-color: cadetblue; */
    width: 20rem;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


    .GenreInfo img {

        width: 15rem;
    }

    
/* RESPONSIVENESS */

@media only screen and (max-width: 620px) {
    /* For mobile phones: */


    *{
        margin: 0;
        padding: 0;
    }
    
    body {
    
    width: 100%;
    background-color: black;
    }


    header {

        background-color: rgb(19, 19, 51);
        display: flex;
        width: 100%;
        height: 2rem;
        
        justify-content:space-around;
        align-items: center;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        border-bottom: 2px solid rgb(145, 143, 141);
    }

    .profile {

        display: none;
    }

    .hamBurger {

        width: 2rem;
        display:block;
        border: none;
        border-radius: 0;
    }

    .logo {

        width: 6rem;
        text-align: center;

    
    }

    .menu {

        display: none;
    }

    .bar {

        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #musicGenre  {

        display:flex;
        flex-direction: column;
        height: 80rem;
        /* margin-top: 25rem; */
        font-weight:bold;
         
        }

    #musicGenre div  {

        background-color:rgb(26, 25, 24);
        border:none;
        width: 20rem;
        height: 19rem;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        text-align: center;
        font-weight:700;
        font-size: 2rem;
        border-radius: 2rem;
        color: aliceblue;
    }    

    .musicGenre h3 {

        text-align: center;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 800;
    }

    #musicGenre div div {
        width: 15rem;
        height: 7rem;
        border-radius:0rem;
        text-align: center;   
        
     }

     #musicGenre img {

        margin-left: auto;
        margin-right: auto;
     }

     #musicGenre div h4 {

        text-align:center;

}
}